<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<!-- Google Fonts -->
<link
	th:href="@{https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i}"
	rel="stylesheet">
	
</head>
<body>

	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<header th:replace="layout/layoutPrincipal :: header"></header>

	<!-- START MY PROFILE -->
	<div class="wrapper bg-white mt-sm-5" style="width: 600px; height: auto; margin-left: 450px;" >
		<form class="form" >
		<h4 class="pb-4 border-bottom">My Profile: <b>User Competitor</b></h4>
		
		<div class="py-2">
			<div class="row py-2">
				<div class="col-md-6">
					<label for="firstname">Name</label> <input type="text"
						class="bg-light form-control" placeholder="Name Competitor" aria-label="Disabled input example" disabled>
				</div>
				<div class="col-md-6">
					<label for="firstname">Surname</label> <input type="text"
						class="bg-light form-control" placeholder="Surname Competitor" aria-label="Disabled input example" disabled>
				</div>
			</div>
			<div class="row py-2">
				<div class="col-md-6">
					<label for="firstname">Birthday</label> <input type="text"
						class="bg-light form-control" placeholder="Birthday Competitor" aria-label="Disabled input example" disabled>
				</div>
				<div class="col-md-6">
					<label for="firstname">DNI</label> <input type="text"
						class="bg-light form-control" placeholder="DNI Competitor" aria-label="Disabled input example" disabled>
				</div>
			</div>
			<div class="row py-2">
				<div class="col-md-6">
					<label for="firstname">User</label> <input type="text"
						class="bg-light form-control" placeholder="User Competitor" aria-label="Disabled input example" disabled>
				</div>
				<div class="col-md-6">
					<label for="firstname">Password</label> <input type="text"
						class="bg-light form-control" placeholder="Password Competitor" aria-label="Disabled input example" disabled>
				</div>
			</div>
			<div class="row py-2">
				<div class="col-md-6">
					<label for="firstname">District</label> 
						<select  id="district" class="form-control" style="width: 100%; height: calc(1.5em + .75rem + 10px); margin-right: 20px; margin-bottom: 23px; border-radius: 10px;" disabled>
	                      			
	                      	<option th:each="district:${districts}" th:value="${district.id}" th:text="${district.nameDistrict}" disabled> </option>
	                    </select>	
				</div>
				
			</div>
			<div class="py-3 pb-4 border-bottom">
				<a type="submit" class="site-btn" th:href="@{/competitors/viewMyProfile/}">Update Perfil</a>
			</div>
			<div class="d-sm-flex align-items-center pt-3" id="deactivate">
				<div>
					<b>Deactivate your account</b>
				</div>
				<div class="ml-auto">
					<button type="submit" class="site-btn">Deactivate</button>
				</div>
			</div>
		</div>
		</form>
	</div>
	<!-- END MY PROFILE -->

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>